<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div name="assetTokenization" class="assetTokenization" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start Asset Tokenization -->

    <div name="assetTokenizationPart1" class="assetTokenizationPart1">
        <!-- // Start Asset Tokenization Part 1 -->
        <br><br><br><br><br><br><br><br>
        <div name="ourServices" class="ourServices">
            Our services
        </div>
        <div name="assetTokenizationHeader" class="assetTokenizationHeader">
            Asset Tokenization
        </div>
        
        <div name="assetTokenizationText" class="assetTokenizationText">
            Asset tokenization is a process of converting real-world assets (like real estate) into<br>
            digital tokens that can be traded, exchanged, and stored on a blockchain. Liquidate<br>
            your unmoved assets into blockchain-based tokens. Reach a wider audience,<br>
            minimize your costs, and raise funds on a secure, online platform with our<br>
            revolutionary technology.
        </div>
    
        <!-- // End Asset Tokenization Part 1 -->
    </div>

    <div name="assetTokenizationPart2" class="assetTokenizationPart2">
        <!-- // Start Asset Tokenization Part 2 -->

            <img src="/assets/img/assetTokenizationPart2Pic1.png" class="assetTokenizationPart2Pics">
            <img src="/assets/img/assetTokenizationPart2Pic2.png" class="assetTokenizationPart2Pics">
            <img src="/assets/img/assetTokenizationPart2Pic3.png" class="assetTokenizationPart2Pics">
            <img src="/assets/img/assetTokenizationPart2Pic4.png" class="assetTokenizationPart2Pics">

        <!-- // End Asset Tokenization Part 2 -->
    </div>

    <div name="assetTokenizationPart3" class="assetTokenizationPart3">
        <!-- // Start Asset Tokenization Part 3 -->
            <br><br><br><br>
            <div class="assetTokenizationPart3Header">
                Asset Types
            </div>

            <br><br>
            <div class="part3Headers">
                Tokenized Real Estate
            </div>

            <div class="part3Text">
                Real estate tokenization aims at removing middlemen, complex <br>
                documentation, and costly processes in property investing. By tokenizing <br>
                your properties, your real assets are no longer illiquid and unreachable to the <br>
                lucrative pool of global investors.
            </div>

            <br>
            <hr class="new1">

            <br><br>
            <div class="part3Headers">
                Tokenized Green Projects
            </div>

            <div class="part3Text part3Text2">
                Green investment vehicles are limited by multiple market failures, such as<br>
                high transaction costs and high minimum investment sizes. By tokenizing<br>
                green initiatives such as solar energy projects can help reduce transaction<br>
                costs through disintermediation and enhance transparency.
            </div>

            <br>
            <hr class="new1">

            <br><br>
            <div class="part3Headers">
                Tokenized Equity
            </div>

            <div class="part3Text part3Text3">
                Private equity can be tokenized through a special purpose vehicle (SPV)
            </div>

            <br>
            <hr class="new1 horizontal3">

            <br><br><br>
            <div class="part3Headers">
                Any Real-World Assets
            </div>

            <div class="part3Text part3Text4">
                You can tokenize any assets you like, including collectibles, paintings, and<br>
                jewelleries.
            </div>

            <br>
            <hr class="new1 horizontal4">

        <!-- // End Asset Tokenization Part 3 -->
    </div>

    <div name="assetTokenizationPart4" class="assetTokenizationPart4">
        <!-- // Start Asset Tokenization Part 4 -->

        <div class="assetTokenizationPart3Header">
            Key Benefits
        </div>

        <hr class="new1 secondHorizontal0">

        <br><br>
        <div class="part4Headers">
            01. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Easy management
        </div>

        <div class="part4Text part4Text1">
            Manage your asset portfolio through our dashboard on a real-time basis<br>
            while reducing operating cost
        </div>

        <br>
        <hr class="new1 secondHorizontal1">

        <br><br>
        <div class="part4Headers">
            02. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Immediate settlement
        </div>

        <div class="part4Text part4Text2">
            24/7, fully transparent and less error-prone trading is available
        </div>

        <br>
        <hr class="new1 secondHorizontal2">

        <br><br>
        <div class="part4Headers">
            03. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Increased liquidity
        </div>

        <div class="part4Text part4Text3">
            Asset-backed tokens are more convenient and cheaper to trade than a <br>
            traditional asset, which help reduce your marketing expenses
        </div>

        <br>
        <hr class="new1 secondHorizontal3">

        <br><br>
        <div class="part4Headers">
            04. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access to global investors
        </div>

        <div class="part4Text part4Text4">
            Ownership of valuable properties like luxury goods and real estate can be<br>
            fractionalized for easier trading and accessibility to investors
        </div>

        <br>
        <hr class="new1 secondHorizontal4">
    
        <!-- // End Asset Tokenization Part 4 -->
    </div>

    <div name="assetTokenizationPart5" class="assetTokenizationPart5">
        <!-- // Start Asset Tokenization Part 5 -->

        <div name="assetTokenizationPart5Left" class="assetTokenizationPart5Left">
            <img src="/assets/img/assetTokenizationPart5Pic.png" class="assetTokenizationPart5Pic">
        </div>

        <div name="assetTokenizationPart5Right" class="assetTokenizationPart5Right">

            <div name="assetTokenizationPart5Header" class="assetTokenizationPart5Header">
                How It Works?
            </div>

            <hr class="new2">

            <div name="part5Headers" class="part5Headers">
                01. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reach us out
            </div>

            <div name="part5Text" class="part5Text">
                Click “Tokenize My Assets” below or email our team at <br>
                <a class="pinkText underlinedText">marketing@ebric.io </a>
            </div>

            <hr class="new3">

            <div name="part5Headers" class="part5Headers">
                02. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finalize deal structure
            </div>

            <div name="part5Text" class="part5Text">
                Determine the token’s legal structure after considering<br>
                relevant jurisdictions and regulations.
            </div>

            <hr class="new4">
            <br><br><br>

            <div name="part5Text" class="part5Text">
                Choose assets to tokenize from available options (like SPV<br>
                equity, economic rights)
            </div>

            <hr class="new3">

            <div name="part5Headers" class="part5Headers">
                03. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tokenize
            </div>

            <div name="part5Text" class="part5Text">
                Choose preferred blockchain protocol for token creation
            </div>

            <hr class="new3">

            <div name="part5Headers" class="part5Headers">
                04. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage
            </div>

            <div name="part5Text" class="part5Text">
                Manage tokenized real estate and investors with digital<br> workflows on your dashboard
            </div>    
            
            <hr class="new3">
           
        </div>
    
        <!-- // End Asset Tokenization Part 5 -->
    </div>

    <div name="assetTokenizationPart6" class="assetTokenizationPart6">
        <!-- // Start Asset Tokenization Part 6 -->
        <br><br><br><br> <br><br><br><br>
            <div name="assetTokenizationPart6Pic" class="assetTokenizationPart6Pic">

                <div name="assetTokenizationPart6Text" class="assetTokenizationPart6Text">
                    <div name="randomSpace1" class="randomSpace1"></div>
                    <span class="boldText">One click away,<br></span>
                    from unlocking your assets.
                </div>   

                <button class="button2">Tokenize&nbsp;My&nbsp;Assets</button>

            </div>
        <!-- // End Asset Tokenization Part 6 -->
    </div>

    <!-- // End Asset Tokenization -->
</div>