<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div name="ourServices" class="ourServices" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start Our Services -->

<div name="ourServicesPart1" class="ourServicesPart1">
    <!-- // Start Our Services Part 1 -->

    <!-- // End Our Services Part 1 -->
</div>
<p class="ourServicesPart2Header">Our Services</p>
<div name="ourServicesPart2" class="ourServicesPart2">
    <!-- // Start Our Services Part 2 -->
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="/assets/img/ourServicesPartTwoAssetTokenization.png" class="assetTokenizationPic">

    <div name="assetTokenizationHeader" >
        <p class="assetTokenizationHeader">Asset Tokenization<br>
            <span class="assetTokenizationText">Asset tokenization is a process of converting real-world assets<br>
                (like real estate) into digital tokens that can be traded,<br>
                exchanged, and stored on a blockchain.<br><br>
                Liquidate your unmoved assets into blockchain-based tokens.<br>
                Reach a wider audience, minimize your costs, and raise funds on<br>
                a secure, online platform with our revolutionary technology.
            </span>
        </p>
        <button class="button contactUs">Learn More</button>
   </div>

   <br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="/assets/img/ourServicesPartTwoBlockchainConsultation.png" class="assetTokenizationPic blockchainConsultationPic">

    <div name="assetTokenizationHeader" >
        <p class="assetTokenizationHeader blockchainConsultationHeader">Blockchain Consultation<br>
            <span class="assetTokenizationText blockchainConsultationText">Whether through the creation of decentralised applications or<br>
                 support of a private blockchain, our blockchain developers help<br>
                  you achieve what your business needs.
            </span>
        </p>
        <button class="button contactUs">Learn More</button>
   </div>

<!-- // End Our Services Part 2 -->
</div>


<div name="ourServicesPart3" class="ourServicesPart3">
    <!-- // Start Our Services Part 3 -->
    <br><br><br><br><br><br>
    <p class="ourServicesPart2Header ourServicesPart3Header">Our Products</p>
    <br><br><br>
    <img src="/assets/img/ourServicesPartThreeBuyABric.png" class="assetTokenizationPic">

    <div name="assetTokenizationHeader" >
        <p class="assetTokenizationHeader">Buy A BRIC<br>
            <span class="assetTokenizationText">Buy A BRIC is the new, easier way to invest in real assets. Using<br>
                 the concept of fractional ownership, EBRIC empowers investors<br>
                  to invest in ‘fractional’ pieces of a real-life asset at their<br>
                  fingertips.<br><br>
                BRIC owners can benefit from rental yield (BRIC Estate) and<br>
                capital returns (BRIC Energy), without managing these assets or<br>
                coming up with a large down payment.<br>
            </span>
        </p>
        <button class="button contactUs">Learn More</button>
   </div>
    
   <br><br><br><br><br><br><br><br><br><br>
   <div name="ourServicesPartThreeProperties" class="ourServicesPartThreeProperties">
   <br>

   <div class="propertiesText">

    <span class="buyABric">Buy a BRIC </span>
     <span class="exclusiveMarketplace">on our exclusive<br>
         marketplace,</span>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/assets/img/ourServicesPartThreeLikwidLogo.png">
         <br>
         <button class="button2">Buy&nbsp;A&nbsp;BRIC</button>
     
    </div>

    <div class="propertiesPics">
        <div name="ourServicesPartThreeProperty2" class="ourServicesPartThreeProperty2">

        </div>
        <div name="ourServicesPartThreeProperty1" class="ourServicesPartThreeProperty1">

        </div>
        
        <div name="ourServicesPartThreeProperty3" class="ourServicesPartThreeProperty3">

        </div>
    </div>

   </div>

    <!-- // End Our Services Part 3 -->
</div>

<div name="ourServicesPart4" class="ourServicesPart4">
    <!-- // Start Our Services Part 4 -->
    <div name="HomePartSix1Component" class="HomePartSix1Component" style="font-family: 'Roboto', sans-serif;" > 
        <!-- // Start Home Part Six 1 Component -->
        <br><br><br><br><br><br><br><br>
        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo1.png" class="partSixLogoImage partSixLogo1">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo2.png" class="partSixLogoImage partSixLogo2">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo3.png" class="partSixLogoImage partSixLogo3">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo4.png" class="partSixLogoImage partSixLogo4">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo5.png" class="partSixLogoImage partSixLogo5">
        </div>

        <!-- // End Home Part Six 1 Component -->
    </div>

    <!-- // End Our Services Part 4 -->
</div>

<!-- // End Our Services -->
</div>
