<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="https://fonts.cdnfonts.com/css/tt-commons" rel="stylesheet">

<div name="distributionPartner" class="distributionPartner" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start Distribution Partner -->

<div name="distributionPartnerPart1" class="distributionPartnerPart1">
    <!-- // Start Distribution Partner Part 1 -->

    <br><br><br><br><br><br><br><br>
    <div name="ourServices" class="ourServices">
        Our sole distribution partner
    </div>
    <div name="assetTokenizationHeader" class="assetTokenizationHeader">
        <img src="/assets/img/ourServicesPartThreeLikwidLogo.png">
    </div>
    
    <div name="assetTokenizationText" class="assetTokenizationText">
        Likwid is a tech start-up aimed at democratising the world of high value asset<br>
        investments, offering a hassle-free investment experience for all income groups<br>
        around the world. Likwid aims improve transparency, security, and accessibility for<br>
        all investment processes to remove barriers that prevent people from building the<br>
        investment portfolios they want.
    </div>

    <!-- // End Distribution Partner Part 1 -->
</div>

<div name="distributionPartnerPart2" class="distributionPartnerPart2">
    <!-- // Start Distribution Partner Part 2 -->

    <div name="ourServicesPartThreeProperties" class="ourServicesPartThreeProperties">
        <br>
     
        <div class="propertiesText">
            Hello there<br>
            We are<span class="gradientText"> Likwid</span>  
         </div>
         <br>
         <div class="propertiesTextMini">
            The Web3.0 company that focuses on making investments into<br>
            all types of assets accessible for everyone.
         </div>
         <br><br>
         <img src="/assets/img/distributionPartnerPart2Logo1.png" class="distributionPartnerPart2Logos distributionPartnerPart2Logo1">
         <img src="/assets/img/distributionPartnerPart2Logo2.png" class="distributionPartnerPart2Logos">
         <img src="/assets/img/distributionPartnerPart2Logo3.png" class="distributionPartnerPart2Logos">

         <div class="propertiesPics">
             <div name="ourServicesPartThreeProperty2" class="ourServicesPartThreeProperty2">
     
             </div>
             <div name="ourServicesPartThreeProperty1" class="ourServicesPartThreeProperty1">
     
             </div>
             
             <div name="ourServicesPartThreeProperty3" class="ourServicesPartThreeProperty3">
     
             </div>
         </div>

        </div>

    <!-- // End Distribution Partner Part 2 -->
</div>

<div name="distributionPartnerPart3" class="distributionPartnerPart3">
    <!-- // Start Distribution Partner Part 3 -->
    <br><br><br><br><br><br>
    <div name="distributionPartnerPart3Left" class="distributionPartnerPart3Left">
    <div name="buyABricPart3Header" class="buyABricPart3Header">
        Mission.
    </div>
    <br><br><br><br>
    <div name="buyABricPart3Text" class="buyABricPart3Text">
        To create equal opportunities for everyone to have a go at real estate<br>
        investment. Part of it is to offer better investment opportunity to low-medium<br>
        income group

    </div>
    </div>

    <div name="distributionPartnerPart3Right" class="distributionPartnerPart3Right">
        <div name="buyABricPart3Header" class="buyABricPart3Header">
            Vision.
        </div>
        <br><br><br><br>
        <div name="buyABricPart3Text" class="buyABricPart3Text">
            To challenge the way real estate investments is being done traditionally<br>
            and eventually become the go-to platform for asset tokenization<br>
            investment in the South-East Asia market.​
    
        </div>
        </div>

    <!-- // End Distribution Partner Part 3 -->
</div>

<div name="distributionPartnerPart4" class="distributionPartnerPart4">
    <!-- // Start Distribution Partner Part 4 -->

    <br><br><br><br>
    <div name="buyABricPart6Header" class="buyABricPart6Header">
        Buy A BRIC with &nbsp;<img src="/assets/img/ourServicesPartThreeLikwidLogo.png">
    </div>

    <br><br><br><br>
    <img src="/assets/img/buyABricPart6Pic1.png" class="buyABricPart6Box">
    <img src="/assets/img/buyABricPart6Pic2.png" class="buyABricPart6Box controlLeftMargin">
    <img src="/assets/img/buyABricPart6Pic3.png" class="buyABricPart6Box controlLeftMargin">
    <img src="/assets/img/buyABricPart6Pic4.png" class="buyABricPart6Box controlLeftMargin">
    
    <button class="button2">Explore&nbsp;Marketplace</button>

    <!-- // End Distribution Partner Part 4 -->
</div>

<!-- // End Distribution Partner -->
</div>