<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div name="HomePartOne1Component" class="HomePartOne1Component" style="font-family: 'Roboto', sans-serif;" > 
<!-- // Start Home Part One 1 Component -->

    <!-- // End Home Part One 1 Component -->
</div>

<div name="HomePartOne1ComponentText" class="HomePartOne1ComponentText" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start Home Part One 1 Component Text -->
    
<h3 class="h2Text">WELCOME TO EBRIC</h3>
<h1 class="h1Text">Revolutionizing</h1>
<h1 class="h1Text second">Asset Ownership</h1>
<h3 class="h3Text first">We help you own fractions of tokenized assets easily and</h3>
<h3 class="h3Text">enjoy returns at your fingertips.</h3>

<br><br>
<button class="button">Learn More</button>
<button class="button contactUs">Contact Us</button>

<br><br><br><br><br><br>
<a href="https://www.facebook.com/ebric.global" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/ebric.io/" class="fa fa-instagram"></a>

    <!-- // End Home Part One 1 Component Text-->
</div>

<div name="HomePartOne2ComponentText" class="HomePartOne2ComponentText" style="font-family: 'Roboto', sans-serif;"> 
    <!-- // Start Home Part One 2 Component -->

    <h3 class="h2Text">WELCOME TO EBRIC</h3>
<h1 class="h1Text">Raise Capital With</h1>
<h1 class="h1Text second">Tokenization</h1>
<h3 class="h3Text first">Get more capital with asset tokenization, reachable by thousands</h3>
<h3 class="h3Text">of global investors through fractional ownership.</h3>

<br><br>
<button class="button">Learn More</button>
<button class="button contactUs">Contact Us</button>

<br><br><br><br><br><br>
<a href="https://www.facebook.com/ebric.global" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/ebric.io/" class="fa fa-instagram"></a>
    
    <!-- // End Home Part One 2 Component -->
</div>

<div name="HomePartOne3ComponentText" class="HomePartOne3ComponentText" style="font-family: 'Roboto', sans-serif;"> 
    <!-- // Start Home Part One 3 Component -->

    <h3 class="h2Text">WELCOME TO EBRIC</h3>
<h1 class="h1Text">Liquidate Your</h1>
<h1 class="h1Text second">Assets Today</h1>
<h3 class="h3Text first">Tokenize your unmoved assets to enjoy reduced costs and </h3>
<h3 class="h3Text">immediate liquidity with us.</h3>

<br><br>
<button class="button">Learn More</button>
<button class="button contactUs">Contact Us</button>

<br><br><br><br><br><br>
<a href="https://www.facebook.com/ebric.global" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/ebric.io/" class="fa fa-instagram"></a>
    
    <!-- // End Home Part One 3 Component -->
</div>


<div name="HomePartTwo1Component" class="HomePartTwo1Component" style="font-family: 'Roboto', sans-serif;" > 
    <!-- // Start Home Part Two 1 Component -->
    
    <div name="HomePartTwo1ComponentText" (mouseenter) ="makeDiv1Visible()"
    [@openClose]="isDiv1Visible ? 'open' : 'closed'" class="HomePartTwo1ComponentText" style="font-family: 'Roboto', sans-serif;"> 
        <!-- // Start Home Part Two 1 Component Text -->
<div name="randomSpace" class="randomSpace"></div>
    <h3 class="p2Text" [style.visibility]="isDiv1Visible ? 'visible' : 'hidden'">WHO WE ARE</h3>
<h1 class="p1Text">We are transforming the way <span [style.display]="isDiv1Visible ? 'none' : 'block'">you own real assets</span></h1>
<h1 class="p1Text second" [style.visibility]="isDiv1Visible ? 'visible' : 'hidden'">you own real assets</h1>
<h3 class="p3Text" [style.visibility]="isDiv1Visible ? 'visible' : 'hidden'">Founded in 2020, EBRIC's progress is driven by one principal</h3>
<h3 class="p3Text" [style.visibility]="isDiv1Visible ? 'visible' : 'hidden'">objective: to redefine asset ownership and make real world</h3>
<h3 class="p3Text" [style.visibility]="isDiv1Visible ? 'visible' : 'hidden'">values accessible for everyone.</h3>

   <!-- // End Home Part Two 1 Component Text -->
</div>

<div name="HomePartTwo2ComponentText" (mouseenter) ="makeDiv2Visible()"
[@openClose]="isDiv2Visible ? 'open' : 'closed'" class="HomePartTwo2ComponentText" style="font-family: 'Roboto', sans-serif;"> 
    <!-- // Start Home Part Two 2 Component Text -->
<div name="randomSpace" class="randomSpace"></div>
<h3 class="p2Text" [style.visibility]="isDiv2Visible ? 'visible' : 'hidden'">WHO WE ARE</h3>
<h1 class="p1Text whiteText">Digital values backed by <span [style.display]="isDiv2Visible ? 'none' : 'block'">actual physical assets</span> </h1>
<h1 class="p1Text second whiteText" [style.visibility]="isDiv2Visible ? 'visible' : 'hidden'">actual physical assets</h1>
<h3 class="p3Text silverText" [style.visibility]="isDiv2Visible ? 'visible' : 'hidden'">As Southeast Asia's pioneering start up, EBRIC paves the way</h3>
<h3 class="p3Text silverText" [style.visibility]="isDiv2Visible ? 'visible' : 'hidden'">with a cutting-edge platform to address the illiquidity issue often</h3>
<h3 class="p3Text silverText" [style.visibility]="isDiv2Visible ? 'visible' : 'hidden'">seen in the markets, especially real estate.</h3>

<!-- // End Home Part Two 2 Component Text -->
</div>

<div name="HomePartTwo3ComponentText" (mouseenter) ="makeDiv3Visible()"
[@openClose]="isDiv3Visible ? 'open' : 'closed'" class="HomePartTwo3ComponentText" style="font-family: 'Roboto', sans-serif;"> 
    <!-- // Start Home Part Two 3 Component Text -->
<div name="randomSpace" class="randomSpace"></div>
<h3 class="p2Text blueText" [style.visibility]="isDiv3Visible ? 'visible' : 'hidden'">WHO WE ARE</h3>
<h1 class="p1Text whiteText">Be part of the asset <span [style.display]="isDiv3Visible ? 'none' : 'block'">ownership revolution</span></h1>
<h1 class="p1Text second whiteText" [style.visibility]="isDiv3Visible ? 'visible' : 'hidden'">ownership revolution</h1>
<h3 class="p3Text silverText" [style.visibility]="isDiv3Visible ? 'visible' : 'hidden'">At EBRIC, we believe that everything starts from home and there</h3>
<h3 class="p3Text silverText" [style.visibility]="isDiv3Visible ? 'visible' : 'hidden'">is no better approach to kickstart than introducing fractional</h3>
<h3 class="p3Text silverText" [style.visibility]="isDiv3Visible ? 'visible' : 'hidden'">ownership and asset tokenization concepts.</h3>

<!-- // End Home Part Two 3 Component Text -->
</div>

        <!-- // End Home Part Two 1 Component -->
    </div>

    <div name="HomePartThree1Component" class="HomePartThree1Component" style="font-family: 'Roboto', sans-serif;" > 
        <!-- // Start Home Part Three 1 Component -->
        <div name="randomSpace2" class="randomSpace2"></div>
        <div name="titleItem" class="p1Text3 titleItem">
            <!-- // Start Title Item --> 
            <span class="thinText"> EBRIC as a  </span> <br>
            <span class="pinkText heavyText"> Real Asset <br> Tokenization</span> <br>
            <span class="thinText"> Platform </span> 
            <!-- // End Title Item -->
        </div>

        <div name="box1Item" class="boxItem box1Item"> 
            <!-- // Start Box1 Item --> 
            <img src="/assets/img/homePartThreeBox1ItemIcon.png" class="p3Icons1">
            <h2 class="boxItemTitle">Redefining Asset Ownership<br>& Value Creation</h2>
            <p class="boxItemText">We help asset owners access value<br>creation easily by tokenizing assets<br> that are otherwise inherently illiquid</p>
            <!-- // End Box1 Item -->        
        </div>

        <div name="box2Item" class="boxItem box2Item">
            <!-- // Start Box2 Item --> 
            <img src="/assets/img/homePartThreeBox2ItemIcon.png" class="p3Icons2">
            <h2 class="boxItemTitle">In-house Technical Team <br>Specializing in Blockchain</h2>
            <p class="boxItemText">Experienced in designing, architecting <br> and developing cutting-edge software <br> systems that bridges into blockchain</p>
            <!-- // End Box2 Item -->                  
        </div> 

        <div name="box3Item" class="boxItem box3Item"> 
            <!-- // Start Box3 Item --> 
            <img src="/assets/img/homePartThreeBox3ItemIcon.png" class="p3Icons1">
            <h2 class="boxItemTitle">Simplified Access to <br>Investment Opportunities</h2>
            <p class="boxItemText">At the moment, we successfully sold <br>380+ real estate tokens on our online <br>marketplace. Check it out <span class="pinkText underlinedText"><a>HERE</a></span></p>
            <!-- // End Box3 Item -->      
        </div>

        <div name="box4Item" class="boxItem box4Item"> 
            <!-- // Start Box4 Item --> 
            <img src="/assets/img/homePartThreeBox4ItemIcon.png" class="p3Icons1">
            <h2 class="boxItemTitle">A Tech Enabler & Blockchain <br> Solutions Provider</h2>
            <p class="boxItemText">Manage sophisticated client requests, <br>develop blockchain products, and <br>expedite the token issuance process</p>
            <!-- // End Box4 Item -->      
        </div>

        <div name="box5Item" class="boxItem box5Item"> 
            <!-- // Start Box5 Item --> 
            <img src="/assets/img/homePartThreeBox5ItemIcon.png" class="p3Icons2">
            <h2 class="boxItemTitle">10+ Years of Experience in<br> Software Projects</h2>
            <p class="boxItemText">World-class software project delivery<br> for various industries including real <br> estate, ESG, other tokenized assets</p>
            <!-- // End Box5 Item -->      
        </div>

          <!-- // End Home Part Three 1 Component -->
    </div>

    <div name="HomePartFour1Component" class="HomePartFour1Component" style="font-family: 'Roboto', sans-serif;" > 
        <!-- // Start Home Part Four 1 Component -->
        <div name="randomSpace3" class="randomSpace3"></div>
        <div name="subMainHeader" class="subMainHeader">OUR SERVICES</div>
        <h1 name="mainHeader" class="mainHeader">What We <b>DO</b>?</h1>
        <p class="mainHeaderText">EBRIC enables easy entry and frictionless experience in physical asset ownership for individuals,<br> families, and institutions, leveraging our role as a market maker in the ecosystem</p>
        
        <br><br>
        <div name="partFourFirstHeader" class="partFourFirstHeader">
            <!-- // Start Part 4 1st Header -->
            <span class="headerNumberVersion">01</span>
            <br><br>
            <span class="headerTextVersion"><b>Asset Tokenization</b></span>
            <br><br><br>
            <span class="headerParagraphVersion">Asset owners can raise capital easily <br>
                by converting real-world assets into <br>
                digital tokens that can be traded and <br>
                stored on blockchain</span>
            <br><br><br><br><br>
            <button class="button part4buttons">Learn More</button>
            <!-- // End Part 4 1st Header -->
        </div>

        <div name="partFourSecondHeader" class="partFourSecondHeader">
            <!-- // Start Part 4 2nd Header -->
            <span class="headerNumberVersion">02</span>
            <br><br>
            <span class="headerTextVersion"><b>Blockchain Consultation</b></span>
            <br><br><br>
            <div class="vl"></div>
            <span class="headerParagraphVersion">Whether through the creation of<br>
                 decentralised applications or support<br>
                  of a private blockchain, we help clients<br>
                   achieve what they need</span>
            <br><br><br><br><br>
            <button class="button part4buttons">Learn More</button>
            <!-- // End Part 4 2nd Header -->
        </div>

        <div name="partFourThirdHeader" class="partFourThirdHeader">
            <!-- // Start Part 4 3rd Header -->
            <span class="headerNumberVersion">03</span>
            <br><br>
            <span class="headerTextVersion"><b>Legal Support for Tokenization</b></span>
            <br><br><br>
            <div class="vl"></div>
            <span class="headerParagraphVersion">We will analyse the project from a legal <br>
                perspective, provide a classification for<br> your tokens, and assess all the legal <br>
                risks involved</span>
            <br><br><br><br><br>
            <button class="button part4buttons">Learn More</button>
            <!-- // End Part 4 3rd Header -->
        </div>

        <!-- // End Home Part Four 1 Component -->
    </div>

    <div name="HomePartFive1Component" class="HomePartFive1Component" style="font-family: 'Roboto', sans-serif;" > 
        <!-- // Start Home Part Five 1 Component -->

        <div name="HomePartFiveTop" class="HomePartFiveTop">
            <!-- // Start Home Part 5 Top -->
            <br><br> <br><br> <br><br>
            <div name="statistics1" class="statistics1">
                <!-- // Start Statistics 1 -->
            <span name="statistics1Header" class="statistics1Header">2020</span>
            <br>
            <span name="statistics1Text" class="statistics1Text">COMPANY ESTABLISHED</span>
                <!-- // End Statistics 1 -->
            </div>

            <div name="statistics1" class="statistics1">
                <!-- // Start Statistics 1 -->
            <span name="statistics1Header" class="statistics1Header">20+</span>
            <br>
            <span name="statistics1Text" class="statistics1Text">EMPLOYEE COUNT</span>
                <!-- // End Statistics 1 -->
            </div>

            <div name="statistics1" class="statistics1">
                <!-- // Start Statistics 1 -->
            <span name="statistics1Header" class="statistics1Header">2022</span>
            <br>
            <span name="statistics1Text" class="statistics1Text">APP LAUNCHED</span>
                <!-- // End Statistics 1 -->
            </div>

            <div name="statistics1" class="statistics1">
                <!-- // Start Statistics 1 -->
            <span name="statistics1Header" class="statistics1Header">380+</span>
            <br>
            <span name="statistics1Text" class="statistics1Text">BRICS SOLD</span>
                <!-- // End Statistics 1 -->
            </div>

            <!-- // End Home Part 5 Top -->
        </div>

        <div name="HomePartFiveBottom" class="HomePartFiveBottom">
            <!-- // Start Home Part 5 Bottom -->
            <br> <br><br> <br><br> <br><br> <br><br> <br><br><br>
            <span class="homePartFiveBottomHeader">our mission</span>
            <br> <br>
            <span class="homePartFiveBottomText">To democratize the world’s physical and digital value via an<br>
                open-blockchain digital platform</span>

            <!-- // End Home Part 5 Bottom -->
        </div>

        <!-- // End Home Part Five 1 Component -->
    </div>

    <div name="HomePartSix1Component" class="HomePartSix1Component" style="font-family: 'Roboto', sans-serif;" > 
        <!-- // Start Home Part Six 1 Component -->
        <br><br><br><br><br><br><br><br>
        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo1.png" class="partSixLogoImage partSixLogo1">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo2.png" class="partSixLogoImage partSixLogo2">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo3.png" class="partSixLogoImage partSixLogo3">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo4.png" class="partSixLogoImage partSixLogo4">
        </div>

        <div class="partSixLogo ">
            <img src="/assets/img/homePartSixLogo5.png" class="partSixLogoImage partSixLogo5">
        </div>

        <!-- // End Home Part Six 1 Component -->
    </div>
