<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div name="buyABric" class="buyABric" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start Buy A Bric -->

    <div name="buyABricPart1" class="buyABricPart1">
        <!-- // Start Buy A Bric Part 1 -->
        <br><br><br><br><br><br><br><br>
        <div name="ourServices" class="ourServices">
            Our Products
        </div>
        <div name="assetTokenizationHeader" class="assetTokenizationHeader">
            Buy A BRIC
        </div>
        
        <div name="assetTokenizationText" class="assetTokenizationText">
            Buy A BRIC is a series of products engineered by EBRIC. It uses Avalanche blockchain<br>
            to issue digital asset tokens (BRICs) that represent ownership of real-world assets.<br>
            This blockchain-based token issuance enables fractional ownership, enabling both-<br>
            and individual investors to own fractions of assets all around the globe.<br>
            At present, Buy A BRIC consists of BRIC Estate and BRIC Energy.
        </div>
        <!-- // End Buy A Bric Part 1 -->
    </div>

    <div name="buyABricPart2" class="buyABricPart2">
        <!-- // Start Buy A Bric Part 2 -->

        <img src="/assets/img/buyABricPart2Pic1.png" class="assetTokenizationPart2Pics">
        <img src="/assets/img/buyABricPart2Pic2.png" class="assetTokenizationPart2Pics">

        <!-- // End Buy A Bric Part 2 -->
    </div>

    <div name="buyABricPart3" class="buyABricPart3">
        <!-- // Start Buy A Bric Part 3 -->

        <div name="buyABricPart3Left" class="buyABricPart3Left">
            <br><br><br><br>
            <div name="buyABricPart3Header" class="buyABricPart3Header">
                BRIC Estate
            </div>
            <br><br><br><br>
            <div name="buyABricPart3Text" class="buyABricPart3Text">
                A new, easier way to invest in real estate. Using the concept of fractional<br>
                ownership, EBRIC empowers investors to invest and transact in ‘fractional’<br>
                pieces of a property at their fingertips. BRIC owners can benefit from rental<br>
                yield and capital returns, without the hassle of managing these properties<br>
                and handling the tenants.
            </div>

            <br><br><br>
            <div name="buyABricPart3Link" class="buyABricPart3Link">
                DownloaD our product info
            </div>

        </div>

        <div name="buyABricPart3Right" class="buyABricPart3Right">

            <div name="buyABricPart3Header" class="buyABricPart3Header">

            </div>
            <div name="buyABricPart3Text" class="buyABricPart3Text">

            </div>

        </div>

        <!-- // End Buy A Bric Part 3 -->
    </div>

    <div name="buyABricPart4" class="buyABricPart4">
        <!-- // Start Buy A Bric Part 4 -->

        <!-- // End Buy A Bric Part 4 -->
    </div>

    <div name="buyABricPart5" class="buyABricPart5">
        <!-- // Start Buy A Bric Part 5 -->

        <!-- // End Buy A Bric Part 5 -->
    </div>

    <div name="buyABricPart6" class="buyABricPart6">
        <!-- // Start Buy A Bric Part 6 -->

        <!-- // End Buy A Bric Part 6 -->
    </div>

<!-- // End Buy A Bric -->
</div>

