<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div name="buyABric" class="buyABric" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start Buy A Bric -->

    <div name="buyABricPart1" class="buyABricPart1">
        <!-- // Start Buy A Bric Part 1 -->
        <br><br><br><br><br><br><br><br>
        <div name="ourServices" class="ourServices">
            Our Products
        </div>
        <div name="assetTokenizationHeader" class="assetTokenizationHeader">
            Buy A BRIC
        </div>
        
        <div name="assetTokenizationText" class="assetTokenizationText">
            Buy A BRIC is a series of products engineered by EBRIC. It uses Avalanche blockchain<br>
            to issue digital asset tokens (BRICs) that represent ownership of real-world assets.<br>
            This blockchain-based token issuance enables fractional ownership, enabling both-<br>
            and individual investors to own fractions of assets all around the globe.<br>
            At present, Buy A BRIC consists of BRIC Estate and BRIC Energy.
        </div>
        <!-- // End Buy A Bric Part 1 -->
    </div>

    <div name="buyABricPart2" class="buyABricPart2">
        <!-- // Start Buy A Bric Part 2 -->

        <img src="/assets/img/buyABricPart2Pic1.png" class="assetTokenizationPart2Pics">
        <img src="/assets/img/buyABricPart2Pic2.png" class="assetTokenizationPart2Pics">

        <!-- // End Buy A Bric Part 2 -->
    </div>

    <div name="buyABricPart3" class="buyABricPart3">
        <!-- // Start Buy A Bric Part 3 -->

        <div name="buyABricPart3Left" class="buyABricPart3Left">
            <br><br><br><br>
            <div name="buyABricPart3Header" class="buyABricPart3Header">
                BRIC Estate
            </div>
            <br><br><br><br>
            <div name="buyABricPart3Text" class="buyABricPart3Text">
                A new, easier way to invest in real estate. Using the concept of fractional<br>
                ownership, EBRIC empowers investors to invest and transact in ‘fractional’<br>
                pieces of a property at their fingertips. BRIC owners can benefit from rental<br>
                yield and capital returns, without the hassle of managing these properties<br>
                and handling the tenants.
            </div>

            <br><br><br>
            <div name="buyABricPart3Link" class="buyABricPart3Link">
                <div name="buyABricPart3LinkText" class="buyABricPart3LinkText">
                    DownloaD our product info &nbsp;
                </div>
                <div name="buyABricPart3LinkArrow" class="buyABricPart3LinkArrow">
                    <img src="/assets/img/buyABricPart3LinkArrow.png" >
                </div>           
            </div>

        </div>

        <div name="buyABricPart3Right" class="buyABricPart3Right">

            <br><br><br><br>
            <div name="buyABricPart3Header" class="buyABricPart3Header">
                BRIC Energy
            </div>
            <br><br><br><br>
            <div name="buyABricPart3Text" class="buyABricPart3Text">
                Asset tokens backed by green projects (Solar PV PPA) designed to enable<br>
                reduction efforts of greenhouse gases, fossil fuels, and emissions. EBRIC<br>
                opens doors for corporate and retail investors to harness the power of<br>
                green initiatives and make a positive impact in the world while earning<br>
                sustainable returns.
            </div>

            <br><br><br>
            <div name="buyABricPart3Link" class="buyABricPart3Link">
                <div name="buyABricPart3LinkText" class="buyABricPart3LinkText">
                    DownloaD our product info &nbsp;
                </div>
                <div name="buyABricPart3LinkArrow" class="buyABricPart3LinkArrow">
                    <img src="/assets/img/buyABricPart3LinkArrow.png" >
                </div>           
            </div>


        </div>

        <div name="randomSpace1" class="randomSpace1"></div>
        <hr class="new0">

        <!-- // End Buy A Bric Part 3 -->
    </div>

    <div name="buyABricPart4" class="buyABricPart4">
        <!-- // Start Buy A Bric Part 4 -->
        <br><br>
        <div class="assetTokenizationPart3Header">
            Key Benefits
        </div>

        <hr class="new1 secondHorizontal0">

        <br><br>
        <div class="part4Headers">
            01. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accessible anywhere, 24/7
        </div>

        <div class="part4Text part4Text1">
            Facilitates easy access to quality property investments at fingertips
        </div>

        <br>
        <hr class="new1 secondHorizontal2">

        <br><br>
        <div class="part4Headers">
            02. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invest in property, without the big lump sum
        </div>

        <div class="part4Text part4Text2">
            Ensures low capital entry to real estate investing with minimal fees
        </div>

        <br>
        <hr class="new1 secondHorizontal2">

        <br><br>
        <div class="part4Headers">
            03. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;More control, less overcommitting
        </div>

        <div class="part4Text part4Text3">
            Improves asset liquidity through the secondary market selling feature
        </div>

        <br>
        <hr class="new1 secondHorizontal2">

        <br><br>
        <div class="part4Headers">
            04. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fractions of various properties, in your hands
        </div>

        <div class="part4Text part4Text4">
            Provides investors with the freedom to dictate and determine their portfolios
        </div>

        <br>
        <hr class="new1 secondHorizontal2">

        <br><br>
        <div class="part4Headers">
            05. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be a modern landlord
        </div>

        <div class="part4Text part4Text5">
            Eradicates the hassle of tenant supervision, property management, and<br>
            paper-based procedures
        </div>

        <br>
        <hr class="new1 secondHorizontal1">


        <!-- // End Buy A Bric Part 4 -->
    </div>

    <div name="buyABricPart5" class="buyABricPart5">
        <!-- // Start Buy A Bric Part 5 -->

        <div name="assetTokenizationPart5Left" class="assetTokenizationPart5Left">
            <img src="/assets/img/buyABricPart5Pic.png" class="assetTokenizationPart5Pic">
        </div>

        <div name="assetTokenizationPart5Right" class="assetTokenizationPart5Right">

            <div name="assetTokenizationPart5Header" class="assetTokenizationPart5Header">
                How It Works?
            </div>
            <br>
            <hr class="new5">
            <br><br><br>
            <div name="part5Headers" class="part5Headers">
                01. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="part5Text">Download mobile app and sign up </span>
            </div>

            <hr class="new2">

            <div name="part5Headers" class="part5Headers">
                02. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="part5Text">Verify identity </span>
            </div>

            <hr class="new2">

            <div name="part5Headers" class="part5Headers">
                03. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="part5Text">Browse marketplace and Buy A BRIC </span>
            </div>

            <hr class="new2">

            <div name="part5Headers" class="part5Headers">
                04. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="part5Text">Sit back and enjoy returns </span>
            </div>

            <hr class="new3">
           
        </div>

        <!-- // End Buy A Bric Part 5 -->
    </div>

    <div name="buyABricPart6" class="buyABricPart6">
        <!-- // Start Buy A Bric Part 6 -->
        <br><br><br><br>
        <div name="buyABricPart6Header" class="buyABricPart6Header">
            Buy A BRIC with &nbsp;<img src="/assets/img/ourServicesPartThreeLikwidLogo.png">
        </div>

        <br><br><br><br>
        <img src="/assets/img/buyABricPart6Pic1.png" class="buyABricPart6Box">
        <img src="/assets/img/buyABricPart6Pic2.png" class="buyABricPart6Box controlLeftMargin">
        <img src="/assets/img/buyABricPart6Pic3.png" class="buyABricPart6Box controlLeftMargin">
        <img src="/assets/img/buyABricPart6Pic4.png" class="buyABricPart6Box controlLeftMargin">
        
        <button class="button2">Explore&nbsp;Marketplace</button>


        <!-- // End Buy A Bric Part 6 -->
    </div>

<!-- // End Buy A Bric -->
</div>

