<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<body>
<div name="header" style="font-family: 'Roboto', sans-serif;"> 

  <div class="navbar" [style.background]="pageScroll? 'white':'transparent'">
    <!-- // Start Navigation Bar -->
    <img src="/assets/img/ebricLogoPic.png" class="headerLogoImage">
    <img src="/assets/img/ebricLogoText.png" class="headerLogoText" [style.display]="pageScroll? 'none':'block'">
    <img src="/assets/img/ebricLogoText2.png" class="headerLogoText" [style.display]="pageScroll? 'block':'none'">
    
    <!-- [style.color]="pageScroll? 'red':'black'" -->
    <a [style.color]="pageScroll? 'black':'white'" routerLink="Home" id="home">Home</a>

    <div class="dropdown" >
      <button class="dropbtn" [style.color]="pageScroll? 'black':'white'" routerLink="OurServices">Our Services &nbsp;
        <i class="fa fa-caret-down" [style.color]="pageScroll? 'black':'white'"></i>
      </button>
      <div class="dropdown-content">
        <!-- <a routerLink="LetsTalkInvestors1">Animation Testing</a> -->
        <a href="#" routerLink="AssetTokenization">Asset Tokenization</a>
        <a href="#" routerLink="BlockchainConsultation">Blockchain Consultation</a>
        <a href="#" routerLink="BuyABric">Buy A BRIC</a>
        <a href="#">Likwid, Our Sole Distribution Partner</a>
      </div>
    </div> 

    <a [style.color]="pageScroll? 'black':'white'" href="#news">About Us</a>

    <div class="dropdown">
      <button class="dropbtn" [style.color]="pageScroll? 'black':'white'">Resources &nbsp;
        <i class="fa fa-caret-down" [style.color]="pageScroll? 'black':'white'"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Learn with Us</a>
        <a href="#">Blog</a>
      </div>
    </div> 

    <div class="dropdown ctabtn">
      <button class="dropbtn">Let's Talk! &nbsp; &nbsp;
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">For Businesses</a>
        <a href="#">For Asset Owners</a>
        <a href="#">For Investors</a>
      </div>
    </div> 

    <!-- // End Navigation Bar -->
  </div>

</div> 
</body>

<div class="container">
  <router-outlet (activate)="changeOfRoutes()"></router-outlet>
</div>

<div name="footer" class="footer" style="font-family: 'Roboto', sans-serif;">
  <!-- // Start footer -->

  <div name="footerLeft" class="footerLeft">
    <!-- // Start footer left -->
    <img src="/assets/img/ebricLogoPic.png" class="footerLogoImage">
    <img src="/assets/img/ebricLogoText.png" class="footerLogoText">
    <br><br>
    <div name="footerContact" class="footerContact">
      03-7626 4389  (Office) <br>
      info@ebric.io
    </div>

    <br><br>

    <div name="Address" class="Address">
      <span class="AddressHeader">MALAYSIA (LABUAN)</span>
      <br>
      <span class="AddressText">EBRIC (Labuan) LTD.<br>
      Office Suite 606, Level 6 (C), Main Office Tower,<br>
      Financial Park Complex Labuan, Jalan Merdeka,<br>
      87000 Labuan, Labuan Federal Territory, Malaysia</span>
    </div>

    <br><br>

    <div name="Address" class="Address">
      <span class="AddressHeader">MALAYSIA (SELANGOR)</span>
      <br>
      <span class="AddressText">EBRIC (Malaysia) Sdn Bhd<br>
        No. 05-03, Menara Mudajaya, 12A,<br>
        Jalan PJU 7/3, Mutiara Damansara,<br>
        47810 Petaling Jaya, Selangor</span>
    </div>
    <!-- //End footer left -->
  </div>

  <div name="footerRight" class="footerRight">
    <!-- // Start footer right -->

    <div name="searchBar" class="searchBar">
      <div class="emailInputDiv">
        <input type="email" class="emailInput" placeholder="Enter your email">
      </div>
      <div class="buttonDiv">
        <button class="button">Subscribe</button>
      </div>
    </div>
    <br><br><br><br><br><br><br>
    <div name="socialMedia" class="socialMedia">

      <div class="footerSocial1"><a href="https://www.linkedin.com/company/ebric/" class="fa fa-linkedin"></a></div>
      <div class="footerSocial2"><a href="https://twitter.com/ebric_io" class="fa fa-twitter"></a></div>
      <div class="footerSocial2"><a href="https://www.instagram.com/ebric.io/" class="fa fa-instagram"></a></div>
      <div class="footerSocial2"><a href="https://www.facebook.com/ebric.global" class="fa fa-facebook"></a></div>
    <div class="footerSocial5"><a href="https://www.youtube.com/@ebric6128" class="fa fa-youtube"></a></div>
    
    </div>

    <br><br> <br><br> <br><br> 
    <div name="footerLinks" class="footerLinks">
      <!-- // Start footer links -->

      <div name="footerLinkSection1" class="footerLinkSection1">
        <div name="footerLinkSection1Header" class="footerLinkSection1Header">
          <a href="#" class="footerLinkSectionHeader">let’s talk!</a>
        </div>
        <br><br>
        <div name="footerLinkSection1Text" >
          <a href="#" class="footerLinkSectionText">For Businesses</a><br>
          <a href="#" class="footerLinkSectionText">For Asset Owners</a><br>
          <a href="#" class="footerLinkSectionText">For Investors</a><br>
        </div>   
      </div>

      <div name="footerLinkSection2" class="footerLinkSection2">
        <div name="footerLinkSection1Header" class="footerLinkSection1Header">
          <a href="#" class="footerLinkSectionHeader">resources</a>
        </div>
        <br><br>
        <div name="footerLinkSection1Text" >
          <a href="#" class="footerLinkSectionText">Learn With Us</a><br>
          <a href="#" class="footerLinkSectionText">FAQ</a><br>
          <a href="#" class="footerLinkSectionText">Blog</a><br>
          <a href="#" class="footerLinkSectionText">Press</a><br>
        </div>
      </div>

      <div name="footerLinkSection3" class="footerLinkSection3">
        <div name="footerLinkSection1Header" class="footerLinkSection1Header">
          <a href="#" class="footerLinkSectionHeader">about us</a>
        </div>
        <br><br>
        <div name="footerLinkSection1Text" >
          
          <a href="#" class="footerLinkSectionText">Who We Are </a><br>
          <a href="#" class="footerLinkSectionText">Our Journey</a><br>
          <a href="#" class="footerLinkSectionText">Milestones</a><br>
          <a href="#" class="footerLinkSectionText">What We Stand For</a><br>
          <a href="#" class="footerLinkSectionText">CEO’s Statement</a><br>
          <a href="#" class="footerLinkSectionText">Leadership</a><br>
        </div>
      </div>

      <div name="footerLinkSection4" class="footerLinkSection4">
        <div name="footerLinkSection1Header" class="footerLinkSection1Header">
          <a href="#" class="footerLinkSectionHeader">Our Services</a>
        </div>
        <br><br>
        <div name="footerLinkSection1Text" >
          <a href="#" class="footerLinkSectionText">Asset Tokenization</a><br>
          <a href="#" class="footerLinkSectionText">Blockchain Consultation</a><br>
          <a href="#" class="footerLinkSectionText">Buy A BRIC</a><br>
          <a href="#" class="footerLinkSectionText">BRIC Estate</a><br>
          <a href="#" class="footerLinkSectionText">BRIC Energy</a><br>
          <a href="#" class="footerLinkSectionText">Buy A BRIC on Likwid</a><br>
        </div>
      </div>

       <!-- // End footer links -->
    </div>

    <!-- // End footer right -->
  </div>

  <div name="copyright" class="copyright">
    <!-- // Start copyright -->
    <br><br>
    <hr class="new5">
    <div name="copyrightText" class="copyrightText">
      Copyright © 2022 EBRIC Pte. Ltd. All Rights Reserved​.
    </div>
    <!-- // End copyright -->
  </div>

  <!-- //End footer -->
</div>

