<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div name="aboutUs" class="aboutUs" style="font-family: 'Roboto', sans-serif;">
    <!-- // Start About Us -->

<div name="aboutUsPart1" class="aboutUsPart1">
    <!-- // Start About Us Part 1 -->

    <!-- // End About Us Part 1 -->
</div>

<div name="aboutUsPart2MainHeader" class="aboutUsPart2MainHeader">
    About Us
</div>

<div name="aboutUsPart2" class="aboutUsPart2">
    <!-- // Start About Us Part 2 -->

   <div name="aboutUsPart2Left" class="aboutUsPart2Left">
        <div name="aboutUsPart2LeftMainHeader" class="aboutUsPart2LeftMainHeader">
            Who we are
        </div>
        <br><br><br>
        <div name="aboutUsPart2LeftSubHeader" class="aboutUsPart2LeftSubHeader">
            Introducing EBRIC: <br>
            <span class="aboutUsPart2LeftInnerSubHeader">The Future of Real Assets</span>
        </div>
        
    </div>

    <div name="aboutUsPart2Right" class="aboutUsPart2Right">
        EBRIC is a blockchain-based platform that enables the tokenization of real-world assets to deliver<br>
        institutional solutions, instant liquidity, and increased transparency. Our solutions are tailored to the<br>
        needs of different sectors. <br><br>
        We offer a simple, fast, and secure way for institutions and businesses to create their own digital<br>
        tokens backed by real physical assets.
    </div>

    <!-- // End About Us Part 2 -->
</div>

<div name="aboutUsPart3" class="aboutUsPart3">
    <!-- // Start About Us Part 3 -->

    <div name="aboutUsPart3Header" class="aboutUsPart3Header">
        Features
    </div>
    <div name="aboutUsPart3Box" class="aboutUsPart3Box aboutUsPart3Box1">
        <div name="aboutUsPart3BoxHeader" class="aboutUsPart3BoxHeader">
            Asset tokenization<br>
            on blockchain
        </div>
        <br><br>
        <div name="aboutUsPart3BoxText" class="aboutUsPart3BoxText">
            EBRIC utilizes Avalanche<br>
            blockchain for the highest level<br>
            of security and transparency.
        </div>
    </div>
    <div name="aboutUsPart3Box" class="aboutUsPart3Box">
        <div name="aboutUsPart3BoxHeader" class="aboutUsPart3BoxHeader">
            Smart contracts <br>
            for tokens
        </div>
        <br><br>
        <div name="aboutUsPart3BoxText" class="aboutUsPart3BoxText">
            Our easy process and smart<br>
            contracts allow you to launch<br>
            your own tokens in minutes.
        </div>
    </div>
    <div name="aboutUsPart3Box" class="aboutUsPart3Box">
        <div name="aboutUsPart3BoxHeader" class="aboutUsPart3BoxHeader">
            Tokenizing your<br>
            company's assets
        </div>
        <br><br>
        <div name="aboutUsPart3BoxText" class="aboutUsPart3BoxText">
            Tokenize your company's<br>
            assets, including machinery,<br>
            buildings, or inventory.
        </div>
    </div>
    <div name="aboutUsPart3Box" class="aboutUsPart3Box">
        <div name="aboutUsPart3BoxHeader" class="aboutUsPart3BoxHeader">
            Compliance with<br>
            financial regulations
        </div>
        <br><br>
        <div name="aboutUsPart3BoxText" class="aboutUsPart3BoxText">
            We follow all applicable laws to<br>
            ensure your customers are<br>
            safe.
        </div>
    </div>

    <!-- // End About Us Part 3 -->
</div>

<div name="aboutUsPart4" class="aboutUsPart4">
    <!-- // Start About Us Part 4 -->

    <div name="aboutUsPart4Frame1" [@slideLeftCenterRight]="frame1Position == 'center' ? 'center' : frame1Position == 'left' ? 'left' : 'right'" class="aboutUsPart4Frame1">
         <!-- // Start About Us Part 4 Frame 1 -->

        <div name="aboutUsPart4Left" class="aboutUsPart4Left">
            <div name="numberBox1" class="numberBox1 numberBoxText whiteText">
                Our Origin
            </div>
            <div name="numberBox2" class="numberBox2 numberBoxText">
                One BRIC At <br> A Time
            </div>
            <div name="numberBox3" class="numberBox3 numberBoxText">
                Empowering All
            </div>
        </div>

        <div name="aboutUsPart4Right" class="aboutUsPart4Right">
            <div name="aboutUsPart4MainHeader" class="aboutUsPart4MainHeader">
                History
                <br>
                <span name="aboutUsPart4SubHeader" class="aboutUsPart4SubHeader">
                    Our Journey
                </span>
                <br>
                <span name="aboutUsPart4ParagraphHeader" class="aboutUsPart4ParagraphHeader">
                    Our Origin
                </span>
                <br>
                <span name="aboutUsPart4Paragraph" class="aboutUsPart4Paragraph">
                    As Southeast Asia’s pioneering start up, EBRIC paves the way<br>
                    with the cutting-edge blockchain technology to address the<br>
                    illiquidity issue often seen in asset ownership.
                </span>
            </div>
      
            
            <br>
           
        </div>

        <!-- // End About Us Part 4 Frame 1 -->
    </div>

    <div name="aboutUsPart4Frame2" [@slideLeftCenterRight]="frame2Position == 'center' ? 'center' : frame2Position == 'left' ? 'left' : 'right'" class="aboutUsPart4Frame2">
        <!-- // Start About Us Part 4 Frame 2 -->

       <div name="aboutUsPart4Left" class="aboutUsPart4Left">
           <div name="numberBox1" class="numberBox1 numberBoxText frame2NumberBox1">
               Our Origin
           </div>
           <div name="numberBox2" class="numberBox2 numberBoxText frame2NumberBox2 whiteText">
               One BRIC At <br> A Time
           </div>
           <div name="numberBox3" class="numberBox3 numberBoxText frame2NumberBox3">
               Empowering All
           </div>
       </div>

       <div name="aboutUsPart4Right" class="aboutUsPart4Right">
           <div name="aboutUsPart4MainHeader" class="aboutUsPart4MainHeader frame2AboutUsPart4MainHeader">
               History
               <br>
               <span name="aboutUsPart4SubHeader" class="aboutUsPart4SubHeader">
                One BRIC At A Time
               </span>
               <br>
               <span name="aboutUsPart4ParagraphHeader" class="aboutUsPart4ParagraphHeader">
                BRIC by BRIC
               </span>
               <br>
               <span name="aboutUsPart4Paragraph" class="aboutUsPart4Paragraph">
                As At EBRIC, we believe that everything starts from home and<br>
                there is no better approach to kickstart than introducing<br>
                fractional ownership and asset tokenization concepts.
               </span>
           </div>
     
           
           <br>
          
       </div>

       <!-- // End About Us Part 4 Frame 2 -->
   </div>

   <div name="aboutUsPart4Frame3" [@slideLeftCenterRight]="frame3Position == 'center' ? 'center' : frame3Position == 'left' ? 'left' : 'right'" class="aboutUsPart4Frame3">
    <!-- // Start About Us Part 4 Frame 3 -->

   <div name="aboutUsPart4Left" class="aboutUsPart4Left">
       <div name="numberBox1" class="numberBox1 numberBoxText frame3NumberBox1">
           Our Origin
       </div>
       <div name="numberBox2" class="numberBox2 numberBoxText frame3NumberBox2">
           One BRIC At <br> A Time
       </div>
       <div name="numberBox3" class="numberBox3 numberBoxText frame3NumberBox3 whiteText">
           Empowering All
       </div>
   </div>

   <div name="aboutUsPart4Right" class="aboutUsPart4Right">
       <div name="aboutUsPart4MainHeader" class="aboutUsPart4MainHeader frame3AboutUsPart4MainHeader">
           History
           <br>
           <span name="aboutUsPart4SubHeader" class="aboutUsPart4SubHeader">
                Empowering All
           </span>
           <br>
           <span name="aboutUsPart4ParagraphHeader" class="aboutUsPart4ParagraphHeader">
                Empowering the Future
           </span>
           <br>
           <span name="aboutUsPart4Paragraph" class="aboutUsPart4Paragraph">
                Powered by a dedicated team of blockchain enthusiasts, we<br>
                strive to build a strong presence across the region, improve<br>
                efficiency, and restore freedom in asset ownership in the<br>
                succeeding years.
           </span>
       </div>
 
       
       <br>
      
   </div>

   <!-- // End About Us Part 4 Frame 3 -->
</div>

        <button class="button button1" (click)="clickLeftButton()"><img src="/assets/img/aboutUsPart4ButtonLeftArrow.png"></button>
        <button class="button button2" (click)="clickRightButton()"><img src="/assets/img/aboutUsPart4ButtonRightArrow.png"></button>
       
    <!-- // End About Us Part 4 -->
</div>

<div name="aboutUsPart5" class="aboutUsPart5">
    <!-- // Start About Us Part 5 -->

    <div name="aboutUsPart5Frame1" [@slideLeftCenterRight]="milestonesFrame1Position == 'center' ? 'center' : milestonesFrame1Position == 'left' ? 'left' : 'right'" class="aboutUsPart5Frame1">
        <!-- // Start About Us Part 5 Frame 1 -->

    <div name="aboutUsPart5MainHeader" class="aboutUsPart5MainHeader">
        milestones
    </div>
    <br><br><br>
    <div name="aboutUsPart5SubHeader" class="aboutUsPart5SubHeader">
        How our story unfolded
    </div>
    <br><br><br><br><br><br><br>
    <div name="timeline1Month" class="timelineMonth timeline1Month">
        July 2020
    </div>
    <div name="timeline2Month" class="timelineMonth timeline2Month">
        April 2021
    </div>
    <div name="timeline3Month" class="timelineMonth timeline3Month">
        June 2021
    </div>
    <img src="/assets/img/aboutUsPart5MilestoneImg1.png" class="aboutUsPart5MilestoneImg1">
    <div name="timeline1Header" class="timelineHeader timeline1Header">
        Formation of EBRIC
    </div>
    <div name="timeline2Header" class="timelineHeader timeline2Header">
        Team Expansion
    </div>
    <div name="timeline3Header" class="timelineHeader timeline3Header">
        Seed Fund Acquisition
    </div>
    <div name="timeline1Text" class="timelineText timeline1Text">
        Developed the concept<br>
        and whitepaper
    </div>
    <div name="timeline2Text" class="timelineText timeline2Text">
        Demonstrated platform<br>
        prototype
    </div>
    <div name="timeline3Text" class="timelineText timeline3Text">
        Successfully obtained a<br>
        seed funding worth<br>
        RM5 million
    </div>

     <!-- // End About Us Part 5 Frame 1 -->
    </div>

    <div name="aboutUsPart5Frame2" [@slideLeftCenterRight]="milestonesFrame2Position == 'center' ? 'center' : milestonesFrame2Position == 'left' ? 'left' : 'right'" class="aboutUsPart5Frame2">
        <!-- // Start About Us Part 5 Frame 2 -->

    <div name="aboutUsPart5MainHeader" class="aboutUsPart5MainHeader aboutUsPart5Frame2MainHeader">
        milestones
    </div>
    <br><br><br>
    <div name="aboutUsPart5SubHeader" class="aboutUsPart5SubHeader aboutUsPart5Frame2SubHeader">
        How our story unfoldedd
    </div>
    <br><br><br><br><br><br><br>
    <div name="timeline1Month" class="timelineMonth timeline1Month timelineFrame2Month timelineFrame2Month1">
        July 20200
    </div>
    <div name="timeline2Month" class="timelineMonth timeline2Month timelineFrame2Month timelineFrame2Month2">
        April 2021
    </div>
    <div name="timeline3Month" class="timelineMonth timeline3Month timelineFrame2Month timelineFrame2Month3">
        June 2021
    </div>
    <!-- <img src="/assets/img/aboutUsPart5MilestoneImg1.png" class="aboutUsPart5MilestoneImg1"> -->
    <div name="timeline1Header" class="timelineHeader timeline1Header timelineFrame2Header">
        Formation of EBRICC
    </div>
    <div name="timeline2Header" class="timelineHeader timeline2Header timelineFrame2Header">
        Team Expansion
    </div>
    <div name="timeline3Header" class="timelineHeader timeline3Header timelineFrame2Header">
        Seed Fund Acquisition
    </div>
    <div name="timeline1Text" class="timelineText timeline1Text">
        Developed the concept<br>
        and whitepaper
    </div>
    <div name="timeline2Text" class="timelineText timeline2Text">
        Demonstrated platform<br>
        prototype
    </div>
    <div name="timeline3Text" class="timelineText timeline3Text">
        Successfully obtained a<br>
        seed funding worth<br>
        RM5 million
    </div>

     <!-- // End About Us Part 5 Frame 2 -->
    </div>

    <button class="button button3" (click)="clickLeftMilestonesButton()"><img src="/assets/img/aboutUsPart4ButtonLeftArrow.png"></button>
    <button class="button button4" (click)="clickRightMilestonesButton()"><img src="/assets/img/aboutUsPart4ButtonRightArrow.png"></button>

    <!-- // End About Us Part 5 -->
</div>

<div name="aboutUsPart6" class="aboutUsPart6">
    <!-- // Start About Us Part 6 -->

    <!-- // End About Us Part 6 -->
</div>

<div name="aboutUsPart7" class="aboutUsPart7">
    <!-- // Start About Us Part 7 -->

    <!-- // End About Us Part 7 -->
</div>

<div name="aboutUsPart8" class="aboutUsPart8">
    <!-- // Start About Us Part 8 -->

    <!-- // End About Us Part 8 -->
</div>

<!-- // End About Us -->
</div>
